%section
  %h2 Available Project
  %ul
  - @projects.each do|project|
    %li= link_to "#{project.owner}/#{project.repos}", project_path(project.id)
  %ul
    %li= link_to 'フックを設定する', github_path
    %li= link_to 'Setup Github hooks.', github_path
%section
  %h2 Recent Revisions
  = render partial: 'shared/revision_table', locals: { revisions: @revisions }
  %p!="See #{link_to 'all revisions', revisions_path}..."

